@model IEnumerable<deanShipOfStudents.Models.Activity>
@{
    ViewBag.Title = "Trainer Activites";
}
<h2>MyActivites</h2>
<hr/>
<div class="row">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            if (!item.IsClosed)
            {

                <div class="card col-md-4 m-1 pt-2 pb-1 ps-1 pe-1">
                    <div class="card-body">
                        <h5 class="card-title text-center">@item.ActivityName</h5><hr />
                        <p class="card-text">location : @item.Location</p>
                        <div class="text-center">
                            <a href="~/meetings/index?activityId=@item.ActivityId" class="btn btn-light">Meetings</a> |
                            <a href="~/Matrials/index?activityId=@item.ActivityId" class="btn btn-light">Matrials</a> |
                            <a href="~/Attatchments/index?activityId=@item.ActivityId&type=@deanShipOfStudents.Models.Attatchment.FileType.attendance" class="btn btn-light">Attendance</a>|
                            <a href="~/Attatchments/index?activityId=@item.ActivityId&type=@deanShipOfStudents.Models.Attatchment.FileType.evaluation" class="btn btn-light">Evaluation </a>|
                            <a href="~/Suggestions/index?activityId=@item.ActivityId" class="btn btn-light">Suggestions </a>
                        </div>
                    </div>
                </div>
            }

        }

    }
    else
    {
        <p class="text-center "> No data!</p>
    }
</div>